<div ng-controller="Aplicants as can">
  <div class="container">
    <h2>Applicants</h2>
    <p>List of all applications received till date.</p>            
    <table class="table">
      <thead>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>PHONE</th>
          <th>STATUS</th>
          <th>APPLICATION DATE</th>
          <th>CV</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "c in can.canditates">
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.status}}</td>
          <td>{{c.date | date: 'dd/MM/yyyy @ h:mma'}}</td>
          <td><a ng-href = {{c.resume}}>view</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>