<div ng-controller = "Screener as scr" id = "screener">
  <input class = ".nav" type = "button"  width = "100px" class="previous round" ng-click = "scr.prev()" ng-hide = "scr.disablePrev" value = "prev">&#8249;</input>
  <input  class = ".nav" type = "button" width = "100px" class="next round" ng-click = "scr.next()" ng-hide = "scr.disableNext" value = "next">&#8250;</input>
  <input type="submit" class="btn btn-primary" value="Reject" ng-click = "scr.reject()"/>
  <input type="submit" class="btn btn-primary" value="Accept" ng-click = "scr.accept()"/>
</div>